body,
#root {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header {
  position: fixed;
  width: 100%;
  height: 26px;
  z-index: 100;
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0px 3px 4px 0px rgb(0, 0, 0, 0.31);
}

.ui {
  position: fixed;
  width: 200px;
  height: 266px;
  z-index: 100;
  top: 70px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 3px 4px 0px rgb(0, 0, 0, 0.31);
  transition: all 0.4s;
}

.ui.close {
  margin-left: -200px;
}

.ui-title {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 5px 0;
  font-size: 13px;
  margin-bottom: 6px;
  height: 18px;
  overflow: hidden;
}

.ui-title div:first-of-type {
  margin-left: 6px;
  margin-top: 4px;
  font-size: 18px;
}

.ui-title div:nth-child(3) {
  width: 25px;
  cursor: pointer;
}

.openContainer {
  background-color: rgba(0, 0, 0, 0.7);
  width: 40px;
  height: 60px;
  margin-top: 100px;
  position: fixed;
  z-index: 100;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.open {
  font-size: 40px;
  color: white;
  margin-top: 10px;
}

.back:hover {
  color: #f1f1f1;
}

.spacebetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ui-body {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 6px;
}

.ui-button {
  width: 60px;
  height: 24px;
  font-size: 11px;
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-left: 4px;
  margin-bottom: 4px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.ui-button:hover {
  background-color: #444;
}

.ui a {
  color: white;
  text-decoration: none;
}
.ui a:hover {
  color: #f1f1f1;
}

.headerDx {
  display: flex;
  align-items: center;
  gap: 2px;
}

.dbLogo {
  width: 100px;
  margin-left: 6px;
}

.githubLogo {
  width: 30px;
  margin-right: 6px;
  cursor: pointer;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #999;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logoPreloader {
  width: 60px;
  position: absolute;
}

.overlay {
  z-index: 200;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-items: center;
}

.modal {
  width: 90%;
  max-width: 700px;
  height: 350px;
  background-color: white;
  margin: 0 auto;
  font-size: 14px;
  line-height: 22px;
  border-radius: 10px;
  box-shadow: 0px 3px 4px 0px rgb(0, 0, 0, 0.31);
}

.modal a {
  color: #444;
}
.modal a:hover {
  color: #777;
}

.modalWrapper {
  padding: 0 20px;
  overflow-y: auto;
  height: 300px;
}

.close {
  float: right;
  font-size: 28px;
  cursor: pointer;
  padding-top: 20px;
}

.controls {
  display: none;
  font-size: 40px;
  position: fixed;
  z-index: 100;
  bottom: 10px;
  left: 10px;
  width: 150px;
  height: 150px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.controls.open {
  display: block;
}

.controlsButtons {
  background: none;
  border: none;
  position: absolute;
}

.buttonUp {
  width: 40px;
  height: 54px;
  margin-left: 54px;
  margin-top: 18px;
  background-image: url("./public/assets/textures/up.png");
  background-size: 40px;
}

.buttonDown {
  width: 40px;
  height: 54px;
  margin-left: 54px;
  margin-top: 80px;
  background-image: url("./public/assets/textures/down.png");
  background-size: 40px;
}

.buttonLeft {
  width: 54px;
  height: 40px;
  margin-left: 14px;
  margin-top: 57px;
  background-image: url("./public/assets/textures/left.png");
  background-size: 54px;
}

.buttonRight {
  width: 54px;
  height: 40px;

  margin-left: 80px;
  margin-top: 57px;
  background-image: url("./public/assets/textures/right.png");
  background-size: 54px;
}
